<section 
         id="dealOfTheDay">
</section>

<script>
    const url_deal = "https://localhost:7212/api/Menu";
    let menu = [];

    document.addEventListener("DOMContentLoaded", function () {
        fetch(url_deal)
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Error from API")
                }
                return response.json()
            })
            .then((data) => {
                menu = data;
                renderDeal();
            })
            .catch((error) => {
                console.log(error)
            })
    });

    const renderDeal = () => {
        const dealOfTheDay = document.getElementById("dealOfTheDay");

        let htmlContent = `
                        <h4>Tre rätter för 199kr</h4>
                        <ul>
                   `;
        let categoryCounter = 0;
        menu.map((category) => {
            const meals = category.meals.length;
            const chosenMeal = Math.floor(Math.random() * meals);
            let mealCounter = 0;

            if (categoryCounter < 3) {
                htmlContent += '<li class="mb-3"><h5 class="meal-name">';
                category.meals.map((meal) => {
                    if (mealCounter == chosenMeal) {
                        htmlContent += meal.name;
                    }
                    mealCounter++;
                })
                htmlContent += '</h5></li>';
            }
            categoryCounter++;
        })
        htmlContent += `
                        </ul >
                    `;
        dealOfTheDay.innerHTML = htmlContent;
    }

</script>