<section 
    class="crayon" 
    id="dealOfTheDay">
</section>

<script>
    const url_deal = "https://localhost:7212/api/Menu";
    let menu = [];

    document.addEventListener("DOMContentLoaded", function () {
        fetch(url_deal)
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Something went wrong. Please try again later.")
                }
                console.log(response.json);
                return response.json()
            })
            .then((data) => {
                menu = data;
                console.log(menu);
                renderDeal();
            })
            .catch((error) => { console.log(error) })
    });

    const renderDeal = () => {
        const dealOfTheDay = document.getElementById("dealOfTheDay");

        let htmlContent = `
                    <h3>DEAL OF THE DAY! </h3>
                    <h4>Trerätters för 199kr!</h4>
                    <ul>
               `;
        let categoryCounter = 0;
        menu.map((category) => {
            const meals = category.meals.length;
            const chosenMeal = Math.floor(Math.random() * meals);
            let mealCounter = 0;

            if (categoryCounter < 3) {
                htmlContent += '<li class="mb-3"><h5 class="meal-name">';
                category.meals.map((meal) => {
                    if (mealCounter == chosenMeal) {
                        htmlContent +=  meal.name;
                    }
                    mealCounter++;
                })
            htmlContent += '</h5></li>';
            }
            categoryCounter++;
        })
        htmlContent += `
                    </ul >
                `;
        console.log(htmlContent);
        dealOfTheDay.innerHTML = htmlContent;
    }

</script>