@{
    ViewData["Title"] = "Home Page";
}
@section metadata {
    <meta name="description" content="Home page for Magdas bistro - WOW, come NOW!'">
}

<img class="img-fluid rounded mx-auto d-block hero" src="/images/Restaurant.jpeg" alt="Image" />
<div class="text-center">
    <h1 class="display-4">WOW! Come NOW!</h1>
    <p>Visit our bistro regardless of your wish. You bet we can make your dream dish.</p>
</div>
