@{
    ViewData["Title"] = "Home Page";
}
<img class="img-fluid rounded mx-auto d-block hero" src="/images/Restaurant.jpeg" alt="Image" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
