@section metadata {
    <meta name="description" content="Non-existant privacy page.">
}
@{
    ViewData["Title"] = "(no) Privacy!";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to send a thought or two to all the privacy officers.</p>
