html {
    font-size: 14px;
}

.crayon-font {
    font-family: 'pastel', sans-serif;
}

.menu {
    background-image: url("/images/backgr2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: outset;
}

    .menu h2 {
        text-align: center;
        margin: 3%;
    }

.hero {
    max-width: 80%;
    height: auto;
}

/*do i really want that...*/
.container  {
    max-width: 100% !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.crayon {
    font-family: 'Crayon Pastel', sans-serif;
    color: white !important;
    background-image: url("/images/background-blackboard.jpg");
}

/*.table td, .table th {
    padding: 5px;*/ /* Minska padding mellan cellerna */
/*}
.table-head-description {
    max-width: 200px;*/ /* Begränsa bredden för beskrivningskolumnen */
   /* white-space: normal;*/ /* Tillåt radbrytning inom beskrivningskolumnen */
    /*overflow: hidden;
}*/
.booking {
    display: flex;
    flex-direction: row;
}

.booking-details {
    background-color: darkorange;
    flex-grow: 2;
}

.booking .icons {
    display: none;
}

.icons a {
    color: black;
}

.booking:hover .icons {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.iframe-container {
    width: 100%;
}
#form-add-meal{
    margin: 0 5px;
   max-width:100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    iframe main {
        max-width: 80%;
    }

    .col-md-6 {
        width: 40%;
        margin: 0 5%;
        align-content:center;
    }

    .hero {
        max-width: 60%;
        height: auto;
    }
}
/*@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px;
    }
}
@media (min-width: 1800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1700px;
    }
}*/
.embed-responsive-item {
    width: 100%;
    height: auto; /* Dynamiskt kontrollerad */
}